@use "colors";

body {
  background-color: colors.$background;
  color: colors.$text;
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

.center {
  display: grid;
  place-items: center;
}

button {
  background: none;
  border: 1px solid colors.$text;
  border-radius: 2px;
  padding: 5px;
  color: colors.$text;
  &:hover {
    color: orange;
    cursor: pointer;
    border: 1px solid orange;
  }
  font-family: "Consolas";
  font-size: 1em;
}
